a {
  text-decoration: none;
  color: inherit;
}

a.btn-icon:hover {
  color: #ffa700;
}

.dashboard-container {
  background-color: #f2f2f3;
  min-height: 100vh;
}

.dashboard-container main.main-wrapper {
  margin-left: 340px;
  height: 100%;
  margin-right: auto;
  position: relative;
  padding: 50px 50px 50px 0px;
}

.dashboard-container .btn-nav {
  display: inline-block;
  width: 200px;
  padding: 0.563rem;
  box-shadow: none;
}

.dashboard-container .btn-status {
  color: #0e0e0e;
}

.dashboard-container .btn-status.btn-active {
  color: #ffffff;
  background-color: #ffa700;
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem #ffedcc;
  border: 1px solid #999999;
}

@media (max-width: 992px) {
  .dashboard-container main.main-wrapper {
    width: 100%;
  }
}