.dashboard-container .queue-lists .queue-card {
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 1rem;
}

.dashboard-container .queue-lists .btn-refresh {
  color: #ffffff;
  background-color: #ffa700;
}

.dashboard-container .queue-lists table tbody tr td.menu {
  text-align: left;
}

.dashboard-container .queue-lists table tbody tr td.qty {
  text-align: center;
}

.dashboard-container .queue-lists table tbody tr td.table_number {
  text-align: right;
}

.dashboard-container .queue-lists table tbody tr td.btn-action {
  text-align: right;
}
