.dashboard-container .menu-detail .main-content-card {
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 1rem;
  /* max-width: 860px; */
  max-width: 100%;
}

.dashboard-container .detail .img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  opacity: 3;
}
