.dashboard-container .table-lists .table-card {
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 1rem;
}

.dashboard-container .table-lists a:hover {
  color: #0e0e0e;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #939597; */
  /* background-color: #ffedcc; */
  /* color: #fff; */
}

.dashboard-container .table-lists .table-card .item-card {
  width: 80px;
  height: 80px;
  margin: 3px;
  border-radius: 1rem;
  margin: 3px;
}

.item-card.available {
  background-color: #d0d0d0;
  text-align: center;
  padding: 1.875rem;
}

.item-card.available.used {
  background-color: #28baab;
  color: #fff;
}

.item-card.available.reserved {
  background-color: #da5863;
  color: #fff;
}

.item-card.available.used a:hover {
  /* border: 3px solid #ffa700; */
  background-color: none;
}

.item-card.add {
  border: 2px solid #d0d0d0;
  padding: 0.72rem;
}
